version: '3.8'
services:
  postgres:
    image: postgres:15-alpine
    container_name: agri_postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: agri_connect_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: